@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');


body {  font-family: 'Roboto', sans-serif; overflow-x:hidden}

.site-header__icons a {    display: inline-block; transform:translateY(0%); 
    margin: 0 10px;    position: static !important;}
.site-header__icons .site-header__icons-wrapper div {    display: inline;    padding: 0;}
header.site-header {    padding: 0;}
header.site-header .grid.grid--no-gutters.grid--table {
    display: table;    margin: 0 auto;    max-width: 1170px;}
header .top-header {    background: #000 none repeat scroll 0 0; padding:10px 0px;}
header .nav-section {    background: #fafafa;}
header .top-header h1 {    margin: 0;    padding: 0;}
header .top-header a, header .top-header, header .top-header svg {
     color: #fff;    font-size: 12px;    letter-spacing: 0;    text-transform: uppercase; }
.site-header__search.small--hide { margin-right:12px;}
.nav-section nav#AccessibleNav, .nav-section nav#AccessibleNav .site-nav.list--inline {
    text-align: left; }
.nav-section nav#AccessibleNav .site-nav.list--inline a {    font-weight: 300; }
nav#AccessibleNav .site-nav.list--inline {    margin: 15px 0; }
.nav-section .grid__item.account-sec a {    font-weight: 300; }
.nav-section .grid__item.account-sec {
    text-align: right;
}

nav#AccessibleNav .site-nav.list--inline a {
    padding: 5px 20px;
}
nav#AccessibleNav .site-nav.list--inline li:first-child a { padding-left:0px; }
nav#AccessibleNav .site-nav.list--inline li.site-nav--active a {
    color: #ec008c;
}
.slideshow__text-content a.slideshow__link {
    position: relative;
}

.slideshow__text-wrap.slideshow__overlay .slideshow__text-content {
    text-align: left;
}
#Slideshow-slideshow span.mega-subtitle.slideshow__subtitle {
    background: #002d61 none repeat scroll 0 0;
    font-weight: initial;
    height: auto; float:left;
    margin-top: 15px;
    padding: 6px 17px 8px;
    text-transform: capitalize;
    width: auto; border-radius:3px; 
}
#Slideshow-slideshow span.mega-subtitle.slideshow__subtitle:hover {
  background: #000; }

.slideshow__text-wrap.slideshow__overlay h2.h1.mega-title {
    font-size: 56px; font-weight:bold; 
    text-transform: uppercase;
}
.slideshow__text-wrap.slideshow__overlay .slideshow-list {
    font-size: 44px; color:#fff; font-weight:bold;  line-height: 65px;
    text-transform: uppercase;
}
.slideshow__text-wrap.slideshow__overlay .slideshow-list span {
    color: #ec008c;
    font-size: 92px;font-weight:bold; 
}

#shopify-section-1503122362766.shopify-section.index-section {
    padding-top: 0;
}
#shopify-section-1503122362766.shopify-section.index-section .collection-grid-item__title-wrapper::before {
    position: static;
}
#shopify-section-1503122362766.shopify-section.index-section .collection-grid-item__title-wrapper h3 {
    color: #000;
    font-size: 23px;
    font-style: italic;
    font-weight: 300;
    margin-top: 19px;
    position: relative;
    transform: none;
}
#shopify-section-1503122362766.shopify-section.index-section .collection-grid {
    overflow: visible;
}

nav#AccessibleNav li div.site-nav__dropdown a {
    padding: 3px 10px !important;
}
nav#AccessibleNav li div.site-nav__dropdown {
    padding: 0;
}
nav#AccessibleNav li div.site-nav__dropdown ul {
    background: #f5f5f5 none repeat scroll 0 0;
    width: 135px;
}
nav#AccessibleNav li div.site-nav__dropdown li {
    border-bottom: 1px dashed #ddd;
    padding: 2px;
}

ul#SiteNav li.site-nav--has-dropdown:hover div.site-nav__dropdown {
    display: block !important;
}

ul#SiteNav .site-nav__dropdown { top:34px; }



.list--inline.site-footer__social-icons.social-icons, .site-footer__copyright.site-footer__copyright--right.medium-up--text-right, .site-footer__copyright--bottom {
    margin-top: 19px;
}
.footer-btm {
    border-top: 1px solid #eee;
    margin-top: 35px;
}
footer.site-footer {
    margin-bottom: 15px;
    padding-bottom: 0;
}


#shopify-section-1503123875868.shopify-section.index-section {
    border-top: 3px solid #f8f8f8;
    margin-top: 8px; padding-bottom:20px; 
    padding-top: 40px;
}
.section-header.text-center h2 {
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 2px;
}
.section-header.text-center h2::after {
    background: #000;
    content: "";
    display: block;
    height: 3px;
    margin: 7px auto;
    width: 100px;
}

 body .grid.grid--uniform.grid--view-items .grid-view-item__image-wrapper.js {
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    height: 225px; max-width:100% !important; text-align:center; 
    max-height: 225px !important;
}
 .grid.grid--uniform.grid--view-items {
    overflow: visible;
}
 .grid.grid--uniform.grid--view-items img {
    max-height: 220px !important;
    position: relative;     /*display: inline-block;*/
    vertical-align: middle;
}
body .grid.grid--uniform.grid--view-items .js > div {
    padding: 0px !important; display:inline-table;
    height: 225px;     vertical-align: middle; text-align:center;
}
/*body .grid.grid--uniform.grid--view-items .js > div:before {
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
   @-moz-document url-prefix() { 
 
     body .grid.grid--uniform.grid--view-items .js > div {    display: inline-grid;  }

   }*/

.grid-view-item__link.grid-view-item__image-container {
    text-align: center;
}
.grid-view-item__link.grid-view-item__image-container .h4.grid-view-item__title {
    color: #000000;
    font-weight: 300;
    text-transform: uppercase;
}
.grid-view-item__link.grid-view-item__image-container .product-price__price {
    color: #ec008c;
}

#shopify-section-1503124391617.shopify-section.index-section {
    background: #f56fbe none repeat scroll 0 0;
    padding: 30px 0;
}
#shopify-section-1503124391617.shopify-section.index-section h4.h3 {
    color: #fff;
    float: left;
}
#shopify-section-1503124391617.shopify-section.index-section .rte-setting {
    color: #fff;
    float: left;
    margin: 1px 10px;
}
#shopify-section-1503124391617.shopify-section.index-section .rte-setting p {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}

.custom__item-inner.custom__item-inner--html a, form.cart-btn input {
    border: 1px solid #fff;
    color: #fff;
    float: right;
    line-height: 16px;
    padding: 6px 24px 14px;
    position: relative;
}
.custom__item-inner.custom__item-inner--html a::after, form.cart-btn input:after {
    border: 1px solid #fff;
    content: "";
    left: -5px;
    padding: 18px;
    position: absolute;
    top: -5px;
    width: 100%;
}

.grid.grid--uniform.grid--blog .h3.article__title {
    font-size: 20px;
    font-weight: 300;
}
.grid.grid--uniform.grid--blog .article__date time {
    color: #bfbfbf;
    font-weight: 300;
}
span.article__date {
    margin-bottom: 10px;
}
.rte.article__grid-excerpt {
    color: #808080;
    font-weight: 300;
    margin-bottom: 4px;
}
.list--inline.article__meta-buttons li a.btn {
    border: medium none;
    color: #ec008c;
    padding: 0;
}

/************ footer section ******************/

.site-footer__newsletter .news-left {
    float: left;
    width: 56%;
}
.site-footer__newsletter form.contact-form {
    float: right;
    margin-top: 9px;
    width: 40%;
}
.site-footer__newsletter .news-left h2 {
    border-right: 3px solid #fff;
    float: left;
    line-height: 68px;
    margin: 0 15px 0 0;
    padding-right: 19px;
}
.site-footer__newsletter {
    float: left;
    margin: 0;
    padding: 15px 0;
    width: 100%;
}
.site-footer__newsletter .news-left .h4 {
    float: left;
    margin: 20px 0 0;
}

#newsletter-section.shopify-section.index-section {
     background: #000 none repeat scroll 0 0;
    color: #fff;
    margin-top: 50px;
    padding: 0;
}

#newsletter-section.shopify-section.index-section .input-group {
    border: 1px solid #fff;
}
#newsletter-section.shopify-section.index-section .input-group input {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    color: #fff;
}
input#Email::-moz-placeholder {
    color: #fff;
}
span.input-group__btn button {
    background: #979797 none repeat scroll 0 0;
    border-left: 1px solid #fff;
}

footer.site-footer ul, .medium-up--one-quarter .site-footer__newsletter {
    margin: 0;
    padding: 0;
}
footer.site-footer h2 {
    border-bottom: 1px solid #eee;
    color: #000;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    padding-bottom: 6px;
    width: 90%;
}
footer.site-footer ul li {
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 5px 0;
    text-transform: uppercase;
}
footer.site-footer ul li a {
    color: #515151;
}
footer.site-footer .contact-info ul li {
    text-transform: inherit;
}
footer.site-footer ul li a:hover {
    color: #f56fbe;
}

footer.site-footer ul, .medium-up--one-quarter .site-footer__newsletter {
    margin: 0;
    padding: 0;
}
footer.site-footer h2 {
    border-bottom: 1px solid #eee;
    color: #000;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    padding-bottom: 6px;
    width: 90%;
}
footer.site-footer ul li {
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 5px 0;
    text-transform: uppercase;
}
footer.site-footer ul li a {
    color: #515151;
}
footer.site-footer .contact-info ul li {
    text-transform: inherit;
}
footer.site-footer ul li a:hover {
    color: #f56fbe;
}
.footer-btm .grid__item.one-third {
    margin-left: 0;  position: relative;
    z-index: 2147483647;
    padding-left: 0;
}
.footer-btm small.site-footer__copyright-content {
    font-size: 15px;
}
footer.site-footer ul.social-icons li svg {
    color: #000;
    height: 18px;
}
.site-footer__payment-icons {
    margin-top: 1px;
}
footer .site-footer__payment-icons li.payment-icon svg {
    width: 28px;
}
.site-footer__copyright.site-footer__copyright--right.medium-up--text-right {
    margin-top: 10px;
}
.list--inline.site-footer__social-icons.social-icons {
    margin-top: 11px;
}
/************ footer section ******************/

form.cart-btn {
    float: left;
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
form.cart-btn input {
 background: #000 none repeat scroll 0 0;
    border-color: #eee;
    color: #fff;
    float: none;
    margin-top: 13px;
    padding: 8px 11px;
}
form.cart-btn input {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
}
#shopify-section-1503123875868 .grid .grid__item {
    margin-bottom: 30px;
}
form.cart-btn input:hover { color:#f56fbe; } 

footer.site-footer .contact-info ul li img {
    float: left;
    margin-right: 4px;
}

.text-center a.btn {
    background: #ec008c none repeat scroll 0 0;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 30px;
    padding: 10px 33px;
}

header.collection-header .rte {
    display: none;
}
header.collection-header h1 {
    font-size: 41px;
    font-weight: 300;
    text-transform: uppercase;
}

.filters-toolbar-wrapper {
    background: #f9f9f9 none repeat scroll 0 0;
}
.filters-toolbar-wrapper select {
    background-color: transparent;
}

/**************single product page****************/


.product-form__item.product-form__item--submit button {
    background: #000 none repeat scroll 0 0;
    margin-top: 17px;
}
body.template-product .product-single__description.rte {
    margin-top: 19px;
}
body.template-product .product-single__description.rte p {
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.4px;
    line-height: 27px;
}

.grid.grid--uniform.product-single__thumbnails.product-single__thumbnails-product-template li a {
    border: 1px solid #eee;
    padding: 3px;
}
.grid.grid--uniform.product-single__thumbnails.product-single__thumbnails-product-template li a img {
    height: 80px;
    margin: 0 auto;
}
ul.grid.grid--uniform.product-single__thumbnails.product-single__thumbnails-product-template {
    margin-top: 15px;
}

/************** single product page ****************/

.btn.btn--secondary.btn--has-icon-before.return-link {
    background: #000 none repeat scroll 0 0;
    color: #fff;
    font-weight: normal;
}

.product-single__photo-wrapper .product-single__photo.js-zoom-enabled {
    border: 2px solid #eee;
}

.grid.product-single {
    margin-top: 50px;
}
h1.product-single__title {
    color: #000;
}
.product-single__price.product-single__price-product-template {
    margin-top: 15px;
}
.product-single__price.product-single__price-product-template span {
    color: #ec008c;
    font-weight: 400;
}
.collection-hero__image.ratio-container.js.lazyloaded {
    background-size: auto auto !important;
}

.collection-grid-item__link {
    border-color: #eee;
}

/**** collection header *********/
header.collection-header {
    background: #ec008c none repeat scroll 0 0;
}
main#MainContent {
    padding-bottom: 0;
    padding-top: 0;
}
header.collection-header h1 {
    color: #fff;
    margin: 0 0 6px;
    padding: 10px 0;
    text-transform: uppercase;
}
header.collection-header .section-header.text-center {
    margin-bottom: 0;
}
.filters-toolbar-wrapper {
    background: #f5f5f5 none repeat scroll 0 0;
}
.filters-toolbar-wrapper select {
    background-color: transparent;
}

header.collection-header .rte {
    display: none;
}

.collection-hero__image.ratio-container.js.lazyloaded {
    background-image: none !important;
    height: 70px !important;
}
.collection-header .collection-hero {
    margin: 0 !important;
}
.collection-header .collection-hero__title-wrapper::before { background-color:transparent; }
.collection-hero__title-wrapper h1.collection-hero__title { max-width:100%;}
/**** end collection header *********/

.section-header.text-center.top-heading {
    background: #ec008c none repeat scroll 0 0;
}
.section-header.text-center.top-heading h1 {
    color: #fff;
    margin: 0;
    padding: 9px 0 16px;
    text-transform: uppercase;
}


/**** eblog *********/

#shopify-section-blog-template .article__list-image-wrapper.js {
    float: left;
    margin-right: 20px;
    width: 35%;
}
#shopify-section-blog-template .article--listing {
    margin: 0;
    padding: 0;
}
#shopify-section-blog-template .grid .grid__item {
    border-bottom: 1px solid #eee;
    margin-bottom: 19px;
    padding: 4px;
}
#shopify-section-blog-template .grid .grid__item h2 a {
    color: #ec008c;
    font-size: 25px;
    text-transform: uppercase;
}
.article__title.h3 {
    margin-bottom: 0;
    margin-top: 10px;
}
.article__author, .article__date time {
    color: #555;
    font-size: 15px;
    font-style: italic;
}
#shopify-section-blog-template .article--listing .rte {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.5px;
}

#shopify-section-article-template h1.article__title {
    color: #db0909;
    margin-top: 30px;
    text-transform: uppercase;
}
#shopify-section-article-template .rte p {
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 26px;
}

/**** eblog *********/


.rte.contact-info {
    float: left;
    width: 30%;
}
.contact-form.form-vertical {
    float: right;
    width: 68%;
}


.contact-form.form-vertical form.contact-form label {
    display: none;
}
.contact-form.form-vertical form.contact-form input, .contact-form.form-vertical form.contact-form textarea {
    background: #f2f2f2 none repeat scroll 0 0;
    margin-bottom: 10px;
    padding: 10px;
}
.contact-form.form-vertical form.contact-form textarea {
    height: 145px;
}
.contact-form.form-vertical form.contact-form input.btn, body .shopify-challenge__button.btn {
    background: #ec008c none repeat scroll 0 0;
    padding: 10px 30px;
}
.contact-form.form-vertical form.contact-form input.btn:hover, body .shopify-challenge__button.btn:hover  {
    background: #000 none repeat scroll 0 0;
}

.rte.contact-info h4 {
    color: #000;
    font-size: 22px;
    letter-spacing: 1px;
    margin-bottom: 19px;
    margin-top: 7px;
    text-align: left;
    text-transform: uppercase;
}
.rte.contact-info li {
    font-weight: 300;
    list-style: outside none none;
}
.rte.contact-info li a {
    border-bottom: medium none;
    text-decoration: none;
}
.rte.contact-info li strong {
    color: #000;
}

p.note.form-success {
    border-color: #18c038;
    color: #18c038;
    text-align: center;
}
/***************cart page***************/

#shopify-section-slideshow {
    padding-top: 0px;
}

.template-cart form.cart {
    font-size: 14px;
    font-weight: 300;
}
.template-cart form.cart table th {
    font-family: "Roboto",sans-serif;
    font-size: 17px;
    font-weight: bold;
}
.template-cart form.cart tbody tr:nth-child(2n) {
    background: #f5f5f5 none repeat scroll 0 0;
}
.template-cart form.cart tbody tr {
}
.template-cart form.cart tbody td {
    padding: 13px 11px;
}

body .slideshow__overlay::before {
    background: transparent none repeat scroll 0 0;
}

.template-cart form.cart tbody td input[type="number"] {
    background: #eee none repeat scroll 0 0;
    padding: 4px;
}
.template-cart form.cart tbody tr:nth-child(2n) input[type="number"] {
    background: #fff none repeat scroll 0 0;
}

footer.cart__footer {
    padding-top: 0;
}
footer.cart__footer span.cart__subtotal, footer.cart__footer span.cart__subtotal-title {
    font-size: 20px;
    font-weight: bold;
}

/*************** Responsive Css***************/
 @media only screen and (max-width: 1200px){
header.site-header .grid.grid--no-gutters.grid--table {
  display: table;
  margin: 0 auto;
  max-width: 80%
}
   
 }

 @media only screen and (max-width: 1024px){
   
 }

 @media only screen and (max-width: 768px){
.site-footer__payment-icons .payment-icon {
  margin-right: 2px;
}
header .nav-section a {
    font-size: 14px;
}
header .nav-section nav ul li a {
    padding-right: 0 !important;
}
#shopify-section-1503123875868 .h4.grid-view-item__title {
    min-height: 65px;
}
#newsletter-section .news-left h2 {
    font-size: 20px;
    font-weight: bold;
}
#newsletter-section .news-left .h4 {
    font-size: 13px;
}

 }
 @media only screen and (max-width: 749px){

.nav-section .account-sec {
    padding: 10px 0;
    text-align: center !important;
}
#shopify-section-1503122362766 .medium-up--one-third {
    clear: none;
    width: 33.3%;
}

#shopify-section-1503123875868 .small--one-half {
    clear: none;
    width: 33.3%;
}
#newsletter-section .site-footer__newsletter {
  max-width: 100%;
}
footer.site-footer .grid__item {
    float: left;
    padding-left: 30px;
    width: 100%;
}

footer.site-footer ul li {
    float: left;
    text-align: left;
    width: 100%;
}
footer.site-footer .grid__item, footer.site-footer .grid__item .site-footer__newsletter {
    float: left;
    max-width: 100%;
    padding-left: 0;
    width: 100%;
}
footer.site-footer .grid__item h2 {
    margin-top: 25px;
    text-align: left;
}

footer .footer-btm .grid__item li {
    float: none;
    text-align: center;
    width: auto;
}

 }
@media only screen and (max-width: 640px){
.site-footer__newsletter form.contact-form {
  width: 100%;
}
.site-footer__newsletter .news-left {

  width: 100%;
}
  #shopify-section-1503123875868 .small--one-half {
  clear: none;
  width: 50%;
}
}
@media only screen and (max-width: 550px){
  footer .contact-info li br {
    display: none;
}
  header.site-header .grid.grid--no-gutters.grid--table{
    max-width:100%;
    }
  
header.site-header .grid.grid--no-gutters.grid--table .logo-align--left {
    display: block;
    float: left;
    max-width: 100%;
    text-align: center !important;
    width: 100%;
}
  header.site-header .grid.grid--no-gutters.grid--table { display:block !important;}
header.site-header .grid.grid--no-gutters.grid--table .site-header__icons--plus {
    border-top: 1px solid #bcbcbc;
    float: left;display:block !important;
    text-align: center !important;
    width: 100%;
}
  header.site-header .grid.grid--no-gutters.grid--table .logo-align--left .site-header__logo, header.site-header .grid.grid--no-gutters.grid--table .logo-align--left .site-header__logo a, header.site-header .grid.grid--no-gutters.grid--table .logo-align--left .site-header__logo a img {
    float: none;
    margin: 0 auto;
    padding-bottom: 5px;
    text-align: center;
    width: 80%;
}

.slideshow__text-wrap.slideshow__overlay h2.h1.mega-title {
    font-size: 30px;
}
.slideshow__text-wrap.slideshow__overlay .slideshow-list {
    font-size: 29px;
}
.slideshow__text-wrap.slideshow__overlay .slideshow-list span {
    font-size: 60px;
  
}
  
#shopify-section-1503123875868 .grid.grid--uniform.grid--view-items {
    margin: 0 auto;
    width: 100%;
}

  #shopify-section-1503122362766.shopify-section.index-section .collection-grid-item__title-wrapper h3{margin-top:0px;}
  
  #shopify-section-1503122362766 .medium-up--one-third {
  margin-bottom: 20px;
 width:100%;
}
  #shopify-section-1503123875868 .h4.grid-view-item__title {
  min-height: 65px;
}
  #newsletter-section .news-left h2 {
  font-size: 16px;
  font-weight: bold;
}
}

@media only screen and (max-width: 450px){
  #shopify-section-1503123875868 .small--one-half {width:94%;}
  body .grid.grid--uniform.grid--view-items .grid-view-item__image-wrapper.js {
    height: auto;    max-height: 100% !important; }

  body .grid.grid--uniform.grid--view-items .js > div { height:auto;}
  #shopify-section-1503123875868 .h4.grid-view-item__title { min-height:30px; }
  #shopify-section-1503123875868 .small--one-half form.cart-btn select {
    width: 100%;
}
  
}