﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";

}
@*צרוף קבצים*@
<body>
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content" align="right">
                <div class="modal-header">
                    <h3 class="modal-title right">  !@ViewBag.name  שלום</h3>
                </div>
                <br /> <br />

                @using (Html.BeginForm("Upload_files", "Manager_tblfiles", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <h4 class="text-danger" style="text-align:center">@ViewBag.error1</h4>
                    <h4 class="modal-title">&nbsp; &nbsp;צרף קבצים </h4>
                    <div class="col-md-8">
                        <br />
                        <label>צילום ת.ז </label>
                        <input type="file" id="postedFiles" name="postedFiles" multiple="multiple" accept="application/msword,text/plain, application/pdf,image/*" />
                        <br />
                    </div>
                    <br />
                    <div class="form-group">
                        <div class="col-md-8">

                            <label>  עיסוק האב - אישור מביטוח לאומי</label>
                                <input type="file" name="postedFiles1" multiple="multiple" accept="application/msword,text/plain, application/pdf,image/*" />
                                <br />
                            </div>
                        </div>
                    <br />
                    <div class="form-group">
                        <div class="col-md-8">
                            <label>תלושי משכורת</label>
                            <input type="file" name="postedFiles2" multiple="multiple" accept="application/msword,text/plain, application/pdf,image/*" />
                            <br />
                            <br />
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="form-group" style="text-align:center">
                        <div style="align-items:center">
                            <input type="submit" value="המשך" class="w3-button blue-button" align="center" />
                        </div>
                    </div>
                }
            </div>
            <br />
        </div>
                </div>
</body>

<script type="text/javascript">
    //הגדרות החלון
    $(window).on('load', function () {
        setTimeout(
            function () {
                $('#myModal').modal('show');
            }, 2000);

    });
    $('#myModal').modal({
        backdrop: 'static',
        keyboard: false
    })
    
</script>
<style>
    .modal-content{
        height:500px;
    }
</style>