﻿@model IEnumerable<Project.Models.order_details>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ManLayout.cshtml";
}

<h2 style="margin-left:8%">פרטי הזמנות</h2>

<h3 style="margin-left:75%">
    @Html.ActionLink("חדש", "Create")
</h3>
<table class="table" style="text-align:left;width:80%">
    <tr class="tr11">
        <th></th>
        <th>
            @Html.DisplayName("כמות")
        </th>
        <th>
            @Html.DisplayName("מידה")
        </th>
        <th>
            @Html.DisplayName("מוצר")
        </th>
        <th>
            @Html.DisplayName("קוד הזמנה")
        </th>

    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.ActionLink("עדכון", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("מחיקה", "Delete", new { /* id=item.PrimaryKey */ })
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.amount_details)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.size_details)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.item.name_item)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.orders.id_order)
        </td>

    </tr>
    }

</table>
