﻿@using Project.Models
@model CustomerClientVM

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_ManLayout.cshtml";
}



<h3 align="right">חדש</h3>
<div class="leftpane">
    <br /><br />
    <br />
    <img src="~/pictures/6.png" style="width:450px;height:300px" />
</div>
@using (Html.BeginForm("Create", "Manager_sizes", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <h4 class="text-danger" style="text-align:right">@ViewBag.error1</h4>
    <div class="form-horizontal" align="right">
        @for (int i = 0; i < Model.listSize.Count; i++)
        {
            @Html.HiddenFor(model => model.listSize[i].id_item)
            @Html.HiddenFor(model => model.listSize[i].n_size)
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.DisplayName("מידה")
                @Html.ValueFor(model => model.listSize[i].n_size)
                @Html.ValidationMessageFor(model => model.listSize[i].n_size, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.DisplayName("כמות")
                <br /><br />
                <div class="col-md-13">
                    @Html.EditorFor(model => model.listSize[i].amount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.listSize[i].amount, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        <div class="form-group">
            <div class="col-md-offset-2" align="right">
                <input type="submit" value="שמירה" class="btn btn-my" />
            </div>
        </div>
    </div>

}

