﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="login-in">
        <ing src=""></ing>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
