﻿
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    @*<meta name="viewport" content="width=device-width, initial-scale=1.0">*@
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width=device-width" />

    <link href="~/Content/man.css" rel="stylesheet" />

    <title>@ViewBag.Title מלבושי כבוד</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

</head>
<body style="height:100%">

    <div class="navbar navbar-default navbar-fixed-top" style="width:100%;height:10%;background-color:white;">
        <img src="~/pictures/logo-blue.JPG" class="right sm-image" style="position:fixed;right:0" />
        <br />

        &nbsp;&nbsp;&nbsp; @Html.ActionLink(" התנתקות ", "Index", "Home", null, new { @class = "glyphicon glyphicon-log-out" })
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @Html.ActionLink(" למכירות ", "ContactUs", "Manager_items", null, new { @class = "glyphicon glyphicon-shopping-cart" })
        <br /> <br />

        <div class="navbar navbar-default" style="background-color:navy;">
            <br />
            <label style="color:white;margin-left:90%;font-size: 18px;"> שלום, @Session["nameC"]</label>
        </div>
    </div>

    <table class="table" style="height:100%">
        <tr style="height:100%">
            <th id="main">
                <div class="container body-content " style="margin-top:5%;align-items:center">
                    <content>
                        @RenderBody()
                        <h4 class="text-danger" align="right">@ViewBag.error</h4>
                    </content>

                </div>
            </th>
            <th style="width:10%;clear:right" id="main" height="90%">
                <div id="sidebar" class="vertical-menu navbar-fixed-bottom" style="text-align:right;margin-left:auto;position: fixed;width:15%">

                    <a href="#" class="active" style="text-decoration-line:none"></a>
                    @Html.ActionLink("הגדרות", "Index", "Manager_settings")
                    @Html.ActionLink("ערים", "Index", "Manager_cities")
                    @Html.ActionLink("שכונות", "Index", "Manager_neighborhoods")
                    @Html.ActionLink("משתמשים", "Index", "Manager_users")
                    @Html.ActionLink("ילדים", "Index", "Manager_children")
                    @Html.ActionLink("רשומים", "Index", "Manager_clients")
                    @Html.ActionLink("מסמכים", "Index", "Manager_tblfiles")
                    @Html.ActionLink("קטגוריה", "Index", "Manager_category_item")
                    @Html.ActionLink("סוג מוצר", "Index", "Manager_type_item")
                    @Html.ActionLink("מוצרים", "Index", "Manager_items")
                    @Html.ActionLink("מוצרים במכירה", "Index", "Manager_item_in_sale")
                    @Html.ActionLink("מכירות", "Index", "Manager_sales")
                    @Html.ActionLink("הזמנות", "Index", "Manager_orders")
                    @Html.ActionLink("פרטי הזמנות", "Index", "Manager_order_details")



                    <footer style="margin-bottom:auto;background-color:navy;color:white;">

                        &copy; @DateTime.Now.Year - מלבושי כבוד&nbsp;&nbsp;&nbsp;

                    </footer>
                </div>

            </th>

        </tr>

    </table>


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>

