﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title מלבושי כבוד</title>
    @*<link href="~/Content/StyleSheet2.css" rel="stylesheet" />*@
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/w3.css" rel="stylesheet" />
    <link href="~/Content/stylesheet_rivka.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
</head>


<body style="height:100%">@* style="padding-top:5px"*@
    <div class="navbar navbar-default navbar-fixed-top" style="width:100%;height:10%;background-color:white;">
        <img src="~/pictures/logo-blue.JPG" class="right sm-image" style="position:fixed;right:0" />
        <br />

        &nbsp;&nbsp;&nbsp; @Html.ActionLink(" התנתקות ", "Index", "Home", null, new { @class = "glyphicon glyphicon-log-out" })
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @Html.ActionLink(" למכירות ", "ContactUs", "Manager_items", null, new { @class = "glyphicon glyphicon-shopping-cart" })
        <br /> <br />

        <div class="navbar navbar-default" style="background-color:navy;height:25px">
            <br />
            <label style="color:white;margin-left:90%;font-size: 18px;"> שלום, @Session["nameC"]</label>
        </div>
    </div>
 
    @*<img src="~/pictures/logo-blue.JPG" class="right sm-image" />
    <!-- Navigation Bar -->
    <!-- Header -->
    <header class="w3-display-container w3-content w3-hide-small" style="max-width:1500px">
    </header>*@
    <div class="container body-content " style="margin-top:5%">
        <div id="itemView"></div>
        <content>

            @RenderBody()
        </content>

</div>


        <!-- Footer -->
        <footer class="w3-container w3-center w3-opacity w3-margin-bottom">
            <h5>Find Us On</h5>
            <div class="w3-xlarge w3-padding-16">
                <i class="fa fa-facebook-official w3-hover-opacity"></i>
                <i class="fa fa-instagram w3-hover-opacity"></i>
                <i class="fa fa-snapchat w3-hover-opacity"></i>
                <i class="fa fa-pinterest-p w3-hover-opacity"></i>
                <i class="fa fa-twitter w3-hover-opacity"></i>
                <i class="fa fa-linkedin w3-hover-opacity"></i>
            </div>
            <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank" class="w3-hover-text-green">w3.css</a></p>
        </footer>

        <script>
            // Tabs
            function openLink(evt, linkName) {
                var i, x, tablinks;
                x = document.getElementsByClassName("myLink");
                for (i = 0; i < x.length; i++) {
                    x[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablink");
                for (i = 0; i < x.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
                }
                document.getElementById(linkName).style.display = "block";
                evt.currentTarget.className += " w3-red";
            }
            // Click on the first tablink on load
            //document.getElementsByClassName("tablink")[0].click();
        </script>

</body>
</html>