﻿@model IEnumerable<Project.Models.setting>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ManLayout.cshtml";
}


<h2 style="margin-left:8%">הגדרות</h2>

<h3 style="margin-left:75%">
    @Html.ActionLink("חדש", "Create")
</h3>
<table class="table" style="text-align:left;width:80%">
    <tr class="tr11">
        <th></th>
        <th>
            @Html.DisplayName("מס' ילדים מנימאלי")
        </th>
        <th>
            @Html.DisplayName("משכורת מקסימלית")
        </th>
        <th>
            @Html.DisplayName("מספר מוצרים")
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("עדכון", "Edit", new { id = item.id_setting }) |
                @Html.ActionLink("מחיקה", "Delete", new { id = item.id_setting })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.minfamsize_setting)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.maxsalary_setting)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numitems_setting)
            </td>

        </tr>
    }

</table>

