﻿@model Project.Models.orders

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_ManLayout.cshtml";
}

<h3 align="right">חדש</h3>
<div class="leftpane">
    <br /><br />
    <br />
    <img src="~/pictures/6.png" style="width:450px;height:300px" />
</div>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal" align="right">

    <br />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.DisplayName("ת'ז מזמין")
        <div class="col-md-13">
            @Html.DropDownList("id_client", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.client.tz_client, "", new { @class = "text-danger" })
        </div>
    </div>
    <h4 class="text-danger" style="text-align:right">@ViewBag.error1</h4>
    <div class="form-group">
        @Html.DisplayName("מספר הזמנה")

        <br /><br />
        <div class="col-md-13">
            @Html.EditorFor(model => model.idorder_detail, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.idorder_detail, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.DisplayName("תאריך הזמנה")
        <br /><br />
        <div class="col-md-13">
            @Html.EditorFor(model => model.date_order, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.date_order, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2" align="right">
            <input type="submit" value="שמירה" class="btn btn-my" />&nbsp;&nbsp;&nbsp;
            <input type="button" value="ביטול" class="btn btn-my" onclick="location.href='@Url.Action("Index")'" />
        </div>
    </div>
</div>
}

