﻿@model IEnumerable<Project.Models.orders>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ManLayout.cshtml";
}

<h2 style="margin-left:8%">הזמנות</h2>

<h3 style="margin-left:75%">
    @Html.ActionLink("חדש", "Create")
</h3>
<div style="margin-right:10%">
    @using (Ajax.BeginForm("Search", "Manager_orders", new AjaxOptions()
    {
        HttpMethod = "post",
        UpdateTargetId = "divSearchResults",
        InsertionMode = InsertionMode.Replace
    }))
    {
        <div align="right">
            <button type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span>
            </button>
            <input type="text" class="btn btn-default" name="searchTxt" placeholder="חיפוש לפי שם /ת'ז מזמין/מספר הזמנה" />

        </div>
    }
    </div>
    <div id="divSearchResults">
        <br />
        <table class="table" style="text-align:left;width:80%">
            <tr class="tr11">
                <th></th>

                <th>
                    @Html.DisplayName("תאריך הזמנה")
                </th>
                <th>
                    @Html.DisplayName("כתובת")
                </th>
                <th>
                    @Html.DisplayName("מספר טלפון")
                </th>
                <th>
                    @Html.DisplayName("שם מזמין")
                </th>
                <th>
                    @Html.DisplayName("ת'ז מזמין")
                </th>
                <th>
                    @Html.DisplayName("מספר הזמנה")
                </th>


            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink("עדכון", "Edit", new { id = item.id_order }) |
                        @Html.ActionLink("מחיקה", "Delete", new { id = item.id_order })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.date_order)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.client.address_client)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.client.phone_client)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.client.nameclient)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.client.tz_client)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.id_order)
                    </td>


                </tr>
            }

        </table>
    </div>
