﻿@model IEnumerable<Project.Models.users>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ManLayout.cshtml";
}



<h2 style="margin-left:8%">משתמשים</h2>

<h3 style="margin-left:55%">
    @Html.ActionLink("חדש", "Create")
</h3>
<table class="table" style="text-align:right;width:60%" align="center" >
    <tr class="tr11">
        <th></th>
        <th>
            @Html.DisplayName("משתמש")
        </th>
        <th>
            @Html.DisplayName("קוד")
        </th>
        
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.ActionLink("עדכון", "Edit", new { id = item.id_user }) |
            @Html.ActionLink("מחיקה", "Delete", new { id = item.id_user })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name_user)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_user)
        </td>



    </tr>
    }

</table>
