﻿@model Project.Models.modelOfItemAndCategory
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_ManagerShopingLayout.cshtml";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/scripts/jquery-1.7.1.min.js"></script>
<script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/modernizr-2.6.2.js"></script>
<script src="~/scripts/bootstrap.min.js"></script>


<link href="~/Content/stylesheet_rivka.css" rel="stylesheet" />
<link href="~/Content/w3.css" rel="stylesheet" />

<div id="divSearchResults">
    <div style="display: none" id="divAnimation">
        <img src="~/Picture/spiffygif_30x30.gif" />
    </div>


    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div id="divResults">

                </div>
            </div>

        </div>
    </div>


    <table style="width:50%;margin-top:-3%">
        <tr>

            <td style="width:50%">
                <div style="display:inline-block;margin-right:70%;">
                    <img class="mySlides w3-animate-fading" src="~/pictures/5-1.png" style="width:600px;height:399.5px">
                    <img class="mySlides w3-animate-fading" src="~/pictures/13-806x567.png" style="width:600px;height:400px">
                    <img class="mySlides w3-animate-fading" src="~/pictures/8-1-806x567.png" style="width:600px;height:400px">
                    <img class="mySlides w3-animate-fading" src="~/pictures/2-806x567.png" style="width:600px;height:400px">
                    <img class="mySlides w3-animate-fading" src="~/pictures/10-806x567.png" style="width:600px;height:400px">
                    <img class="mySlides w3-animate-fading" src="~/pictures/17-806x567.png" style="width:600px;height:400px">
                    <img class="mySlides w3-animate-fading" src="~/pictures/19-806x567.png" style="width:600px;height:400px">
                    <img class="mySlides w3-animate-fading" src="~/pictures/3-806x567.png" style="width:600px;height:400px">
                    <img class="mySlides w3-animate-fading" src="~/pictures/4-806x567.png" style="width:600px;height:400px">
                    <img class="mySlides w3-animate-fading" src="~/pictures/1-806x567.png" style="width:600px;height:400px">
                    <img class="mySlides w3-animate-fading" src="~/pictures/11-806x567.png" style="width:600px;height:400px">
                    <img class="mySlides w3-animate-fading" src="~/pictures/18-806x567.png" style="width:600px;height:399.5px">
                </div>
                <h4 class="w3-container w3-center w3-animate-right" style="animation-iteration-count: 1000;animation-duration: 20s;font-weight:bold">:נצפו אחרונים</h4>
            </td>
        </tr>
        <tr>

        </tr>
    </table>
    <div style="width:40%;position: absolute;
right: 0px;
top:20%">
        <h2 style="font-size:4vw;color:navy">
            <b>we are </b>
        </h2>
        <img src="~/pictures/logo-blue.JPG" style="width:200px;" />
        <h4 style="color:navy">@ViewBag.address</h4>
        <br />
        <h4 style="color:navy"> בין התאריכים @ViewBag.dat  </h4>
        <h4 style="color:navy">בין השעות 9:00-20:00</h4>
        <br />
        <br />
        <br />
        <br />
        <h5 style="color:navy">
            תמיכה טכנית לאתר בין השעות 8:30-16:00
        </h5>
        <h5 style="color:navy">02-5877485</h5>
        <h5 style="color:navy"> organizationmc1@gmail.com</h5>
    </div>
      
 
        <div style="top:-20px;align-content:center;width:60%">
            @foreach (var item in Model.Items)
            {
                <section style="width:20%;display:inline-block;position:relative;height:300px">
                    <section data-toggle="modal" data-target="#myModal">
                        @Ajax.ActionLink(" ", "Details", "Manager_items", new { id = item.id_itemsale }, new AjaxOptions()
                   {
                       HttpMethod = "get",
                       InsertionMode = InsertionMode.Replace,
                       UpdateTargetId = "divResults",

                       LoadingElementId = "divAnimation",
                       LoadingElementDuration = 2000,
                       OnBegin = "emptyData"
                   }, htmlAttributes: new
                   {
                       @class = "list-group-item image hiddenLink",
                   })

                        <img src="@Html.DisplayFor(modelItem => item.item.picture_item)" style="height:100px;position: relative;z-index: 1;top:-200px" />

                    </section>

                    <section style="display:block;position:relative;top:-200px;">
                        @Html.DisplayFor(modelItem => item.item.name_item)<br />
                        @Html.DisplayFor(modelItem => item.item.price_item)
                    </section>

                </section>
            }
        </div>

</div>

<script>
    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) { myIndex = 1 }
        x[myIndex - 1].style.display = "block";
        setTimeout(carousel, 9000);
    }

    function emptyData() {
        divResults.innerHTML = "";

    }
</script>
