﻿@model Project.Models.item

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_ManLayout.cshtml";
}


<h3 align="right">מחיקה</h3>
<div class="leftpane">
    <br /><br />
    <br />
    <img src="~/pictures/18-806x567.png" style="width:450px;height:300px" />
</div>
<div align="right">
    <br />
    <dl class="dl-horizontal" style="margin-left:80%">
        <dt>
            @Html.DisplayFor(model => model.name_item)
        </dt>

        <dd>
            @Html.DisplayName("מוצר")
        </dd>
        <dt>
            @Html.DisplayFor(model => model.price_item)
        </dt>


        <dd>
            @Html.DisplayName("מחיר")
        </dd>
        <dt>
            @Html.DisplayFor(model => model.color_item)
        </dt>

        <dd>
            @Html.DisplayName("צבע")
        </dd>

        <dt>
            @Html.DisplayFor(model => model.limitedamount_item)
        </dt>

        <dd>
            @Html.DisplayName("כמות מוגבלת")
        </dd>


        <dt>
            @Html.DisplayFor(model => model.type_item.name_type)
        </dt>
        <dd>
            @Html.DisplayName("סוג")
        </dd>


        <dt>
            @Html.DisplayFor(model => model.category_item.name_category)
        </dt>
        <dd>
            @Html.DisplayName("קטגוריה")
        </dd>


        <dt>
            @Html.DisplayFor(model => model.sizeinstock_item)
        </dt>
        <dd>
            @Html.DisplayName("מידה")
        </dd>
        <dd>
            @Html.DisplayName("תמונה")
        </dd>


    </dl>
    <img src="@Html.DisplayFor(model => model.picture_item)" style="height:150px;display:inline-block;" />
    <br />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" style="margin-left:50%">
            <div class="col-md-offset-2">
                <input type="submit" value="מחיקה" class="btn btn-my" />&nbsp;&nbsp;&nbsp;
                <input type="button" value="ביטול" class="btn btn-my" onclick="location.href='@Url.Action("Index")'" />
            </div>
        </div>
    }
</div>
