﻿@model IEnumerable<Project.Models.item>

@{
    ViewBag.Title = "details";
    Layout = "~/Views/Shared/_ManLayout.cshtml";
}
<h3 align="right">פרטים נוספים</h3>
<div class="leftpane">
    <br /><br />
    <br />
    <img src="~/pictures/8-1-806x567.png" style="width:450px;height:300px" />
</div>
<div align="right">
    <br />
    <dl class="dl-horizontal" style="margin-left:75%">

        @foreach (var item in Model)
        {


            <dt>
                @Html.DisplayFor(model => item.name_item)
            </dt>

            <dd>
                @Html.DisplayName("מוצר")
            </dd>

            <dt>
                @Html.DisplayFor(model => item.price_item)
            </dt>


            <dd>
                @Html.DisplayName("מחיר")
            </dd>
            <dt>
                @Html.DisplayFor(model => item.color_item)
            </dt>

            <dd>
                @Html.DisplayName("צבע")
            </dd>

            <dt>
                @Html.DisplayFor(model => item.limitedamount_item)
            </dt>

            <dd>
                @Html.DisplayName("כמות מוגבלת")
            </dd>


            <dt>
                @Html.DisplayFor(model => item.type_item.name_type)
            </dt>
            <dd>
                @Html.DisplayName("סוג")
            </dd>


            <dt>
                @Html.DisplayFor(model => item.category_item.name_category)
            </dt>
            <dd>
                @Html.DisplayName("קטגוריה")
            </dd>
            <dd>
                @Html.DisplayName("תמונה")
            </dd>
            <dd>
                <img src="@Html.DisplayFor(model => item.picture_item)" style="height:150px;display:inline-block;" />
            </dd>
        }

    </dl>
    <br /><br />
    <div>
        <input type="button" value="חזרה" class="btn btn-my" onclick="location.href='@Url.Action("Index")'" />
    </div>
</div>

