﻿@model Project.Models.item_in_sale

@{

    Layout = "~/Views/Shared/_LayoutPageDeatels.cshtml";
}

<h2>@Html.DisplayFor(model => model.item.name_item)</h2>
@using (Html.BeginForm("AddToCart", "Manager_items", FormMethod.Post))
{
    @Html.AntiForgeryToken()


    <div>
        <hr />
        <div class="dl-horizontal">
            @ViewBag.error1
            <div style="display:inline-block">
                <img src="@Html.DisplayFor(model => model.item.picture_item)" style="height:240px;float:right" />
            </div>

            <div style="text-align:right;direction:rtl;float:left;margin-left:50px">
                <table>
                    <tr>
                        <th>מידה</th>
                        <td>@Html.DisplayFor(model => model.item.sizeinstock_item)</td>
                    </tr>
                    <tr>
                        <th>מחיר</th>
                        <td>@Html.DisplayFor(model => model.item.price_item)</td>
                    </tr>
                    <tr>
                        <th>צבע</th>
                        <td>@Html.DisplayFor(model => model.item.color_item)</td>
                    </tr>
                    <tr>
                        <th>כמות מוגבלת</th>
                        <td>@Html.DisplayFor(model => model.item.limitedamount_item)</td>
                    </tr>
                    <tr>
                        <th>קטגוריה</th>
                        <td>@Html.DisplayFor(model => model.item.type_item.name_type)</td>
                    </tr>

                </table>
                <div>
                    <label style="width:50%">בחר/י מידה:</label>
                    <label style="width:35%;float:left">כמות</label>
                    <div style="width:60%;float:left;position:relative;margin-top:0%;">
                        <input type="button" value="+" class="plus" style="margin-left:auto">
                        <input type="number" step="1" min="1" name="quantity" style="margin-left:auto;height:40px;margin-top:auto" id="quantity" value="1" class="input-text qty text" size="4">
                        <input type="button" value="-" class="minus" style="margin-left:-10%">
                    </div>
                    <div style="width:50%">
                        @Html.DropDownList("size", null, htmlAttributes: new { @class = "form-control s" })
                    </div>

                    <br />
                    <button type="submit" value="הוסף לסל" class="w3-button blue-button " style="font-size:medium;display: table;margin-left: auto;margin-right: auto;">
                        <i class="glyphicon glyphicon-shopping-cart" style="font-size:medium;margin-left:5px"></i>הוסף לסל
                    </button>
                    <br />
                    <label id="maxItem" hidden="hidden">@Html.DisplayFor(model => model.item.sizeinstock_item)</label>
                    <label id="limitItem" hidden="hidden">@Html.DisplayFor(model => model.item.limitedamount_item)</label>

                </div>


            </div>

        </div>

    </div>
    @Html.HiddenFor(model => model.id_itemsale)
    @Html.HiddenFor(model => model.iditem_itemsale)
    @Html.HiddenFor(model => model.iditems)
}
<script type="text/javascript">
    $(".plus").click(function () {

        var num = parseInt($("#quantity").val());
        if (num < parseInt($("#maxItem").text()) && num < parseInt($("#limitItem").text())) {
            $("#quantity").val((num + 1).toString());
        }

    });
    $(".minus").click(function () {

        var num = parseInt($("#quantity").val());
        if (num != 1)
            $("#quantity").val((num - 1).toString());
    });
</script>

<style>
    label {
        font-size: small;
        font-weight: bold;
        color: #474747;
        width: auto;
    }

    ce, .quantity, .qty {
        width: 3.631em;
        text-align: center;
    }

    .quantity, .qty, .quickview-modal, .quantity, .qty {
        padding: 0;
        width: 30px !important;
        height: 35px;
        border-bottom: 1px solid #cccccc;
        border-top: 1px solid #cccccc;
        border-right: none;
        border-left: none;
        float: left;
        -webkit-appearance: none;
        /*border-radius: 0;*/
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
    }

    .plus:hover, .minus:hover {
        background-color: #6666b2;
        color: #fff;
    }

    .minus {
        border-left: none;
    }

    .plus {
        border-right: none;
    }

    input {
        background-color: #fff;
        border: 1px solid #ddd;
        box-shadow: none;
        color: #2e2f33;
        font-size: 1rem;
        font-weight: 300;
        line-height: 1;
        padding: 0 10px;
        width: 50%;
    }


    button, input {
        outline: none;
    }

    input {
        line-height: 38px;
    }

        input[type=number] {
            -moz-appearance: textfield;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-radius: 0px;
        }

    .plus, .minus, .quantity, .qty {
        background-color: #fff;
        height: 40px;
        width: 20px;
        padding: 0;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        float: left;
        color: #6b35f7;
        line-height: 1;
    }
    /*.MakeWide {
        width: 250px;
    }*/

    .modal-content {
        height: 1000px;
        /*width: 1200px;*/
        min-height: 200px;
        height: auto;
        /*margin: 80px auto 0px auto;*/
        /*padding: 10px 10px;*/
        overflow: auto
    }

    .s {
        width: 80px;
        height: 40px;
    }
</style>