﻿@model IEnumerable<Project.Models.item>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ManLayout.cshtml";
}



<h2 style="margin-left:8%">מוצרים</h2>

<h3 style="margin-left:96%">
    @Html.ActionLink("חדש", "Create")
</h3>
@using (Ajax.BeginForm("SearchItem", "Manager_items", new AjaxOptions()
{
    HttpMethod = "post",
    UpdateTargetId = "divSearchResults",
    InsertionMode = InsertionMode.Replace
}))
{
    <div align="right">
        <button type="submit" class="btn btn-default">
            <span class="glyphicon glyphicon-search"></span>
        </button>
        <input type="text" class="btn btn-default" name="searchTxt" placeholder="חיפוש לפי מוצר /מחיר/ קטגוריה/ סוג" />

    </div>
}

    <div id="divSearchResults">
        <br />
        <table class="table" style="text-align:left;">
            <tr class="tr11">

                <th></th>
                <th>
                    @Html.DisplayName("קטגוריה")
                </th>
                <th>
                    @Html.DisplayName("סוג")
                </th>
                <th>
                    @Html.DisplayName("כמות מוגבלת")
                </th>
                <th>
                    @Html.DisplayName("מידה")
                </th>
                <th>
                    @Html.DisplayName("צבע")
                </th>
                <th>
                    @Html.DisplayName("מחיר")
                </th>

                <th>
                    @Html.DisplayName("מוצר")
                </th>
            </tr>

            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.ActionLink("עדכון", "Edit", new { id = item.id_item }) |
                    @Html.ActionLink("פרטים", "DetailsMan", new { id = item.id_item }) |
                    @Html.ActionLink("מחיקה", "Delete", new { id = item.id_item })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.category_item.name_category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.type_item.name_type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.limitedamount_item)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sizeinstock_item)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.color_item)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price_item)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name_item)
                </td>
            </tr>
            }

        </table>

    </div>