﻿
@model IEnumerable<Project.Models.item>
@{
    Layout = "~/Views/Shared/_ManLayout.cshtml";
}

<script src="~/scripts/jquery-1.7.1.min.js"></script>
<script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>





<div id="divSearchResults">
    <h2 style="margin-left:8%">מוצרים</h2>

    <h3 style="margin-left:96%">
        @Html.ActionLink("חדש", "Create")
    </h3>
    @using (Ajax.BeginForm("SearchItem", "Manager_items", new AjaxOptions()
    {
        HttpMethod = "post",
        UpdateTargetId = "divSearchResults",
        InsertionMode = InsertionMode.Replace
    }))
    {
        <div align="right">
            <button type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span>
            </button>
            <input type="text" class="btn btn-default searchTxt" name="searchTxt" placeholder="חיפוש לפי מוצר /מחיר/ קטגוריה/ סוג" style="width:100000px" />

        </div>
    }
    <h4 class="text-danger" align="right">@ViewBag.error9</h4>
    @if (Model != null)
    {
        <br />
        <table class="table" style="text-align:left;">
            <tr class="tr11">

                <th></th>
                <th>
                    @Html.DisplayName("קטגוריה")
                </th>
                <th>
                    @Html.DisplayName("סוג")
                </th>
                <th>
                    @Html.DisplayName("כמות מוגבלת")
                </th>
                <th>
                    @Html.DisplayName("צבע")
                </th>
                <th>
                    @Html.DisplayName("מחיר")
                </th>
                <th>
                    @Html.DisplayName("גודל")
                </th>
                <th>
                    @Html.DisplayName("מוצר")
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink("עדכון", "Edit", new { id = item.id_item }) |
                        @Html.ActionLink("פרטים", "DetailsMan", new { id = item.id_item }) |
                        @Html.ActionLink("מחיקה", "Delete", new { id = item.id_item })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.category_item.name_category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.type_item.name_type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.limitedamount_item)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.color_item)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.price_item)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.sizeinstock_item)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.name_item)
                    </td>
                </tr>
            }

        </table>}

</div>
