﻿
@model Project.Models.modelOfItemAndCategory
@{

}

<script src="~/scripts/jquery-1.7.1.min.js"></script>
<script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>

<script>
    function emptyData() {
        divResults.innerHTML = "";
    }
</script>

<div style="display:inline-flex">

    @using (Ajax.BeginForm("SearchPrice", "Manager_items", new AjaxOptions()
    {
        HttpMethod = "post",
        UpdateTargetId = "divSearchResults",
        InsertionMode = InsertionMode.Replace
    }))
    {

        <div class="big-margin">
            <input type="number" class="form-control" name="searchMinPrice" placeholder="מחיר מינימלי" />-
            <input type="number" class="form-control" name="searchMaxPrice" placeholder="מחיר מקסימלי" />
            <button type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </div>
    }
    @using (Ajax.BeginForm("Search", "Manager_items", new AjaxOptions()
    {
        HttpMethod = "post",
        UpdateTargetId = "divSearchResults",
        InsertionMode = InsertionMode.Replace
    }))
    {
        <div class="big-margin">
            <input type="text" class="form-control" name="searchTxt" placeholder="חיפוש לפי שם" />
            <button type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </div>
    }
</div>
<h4 class="text-danger" align="center">@ViewBag.error9</h4>

<div style="display: none" id="divAnimation">
    <img src="~/Picture/spiffygif_30x30.gif" />
</div>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div id="divResults">

            </div>
        </div>

    </div>
</div>



<div id="divSearchResults">

    @foreach (var item in Model.Items)
    {
        <section style="width:20%;display:inline-block;position:relative;height:300px">
            <section data-toggle="modal" data-target="#myModal">
                @Ajax.ActionLink(" ", "Details", new { id = item.item.id_item }, new AjaxOptions()
           {
               HttpMethod = "get",
               InsertionMode = InsertionMode.Replace,
               UpdateTargetId = "divResults",

               LoadingElementId = "divAnimation",
               LoadingElementDuration = 2000,
               OnBegin = "emptyData"
           }, htmlAttributes: new
           {
               @class = "list-group-item image hiddenLink",
           })

                <img src="@Html.DisplayFor(modelItem => item.item.picture_item)" style="height:200px;position: relative;z-index: 1;top:-200px" />

            </section>

            <section style="display:block;position:relative;top:-180px">
                <h5>@Html.DisplayFor(modelItem => item.item.name_item)</h5>

                @Html.DisplayFor(modelItem => item.item.price_item)
            </section>

        </section>
    }
</div>
<div id="divResults">

</div>


