﻿@model Project.Models.item_in_sale

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>item_in_sale</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.size_itemsale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.size_itemsale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.amountinstock_itemsale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.amountinstock_itemsale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.city.name_city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city.name_city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sale.name_sale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sale.name_sale)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_itemsale }) |
    @Html.ActionLink("Back to List", "Index")
</p>
