﻿@model IEnumerable<Project.Models.item_in_sale>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.size_itemsale)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.amountinstock_itemsale)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.city.name_city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sale.name_sale)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.size_itemsale)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.amountinstock_itemsale)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.city.name_city)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sale.name_sale)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_itemsale }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_itemsale }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_itemsale })
        </td>
    </tr>
}

</table>
