﻿@model Project.Models.category_item

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_ManLayout.cshtml";
}

<h3 align="right">חדש</h3>

<div class="leftpane">
    <br /><br />
    <br />

    <img src="~/pictures/6.png" style="width:450px;height:300px" />
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" align="right">
        <br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.DisplayName("קטגוריה")
            <br /><br />
            <div class="col-md-13">
                @Html.EditorFor(model => model.name_category, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.name_category, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.DisplayName("סוג")
            <br /><br />
            <div class="col-md-13">
                @Html.DropDownList("id_typeItem", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_typeItem, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2" align="right">
                <input type="submit" value="שמירה" class="btn btn-my" />&nbsp;&nbsp;&nbsp;
                <input type="button" value="ביטול" class="btn btn-my" onclick="location.href='@Url.Action("Index")'" />

            </div>
        </div>
    </div>
}




