﻿.vertical-menu {
    /*width: 200px;*/
}

    .vertical-menu a {
        /*background-color: #3d3e3c;*/
        background: navy;
        /*color: black;*/
        color:white;
        display: block;
        padding: 12px;
        text-decoration: none;
        color: #d9d9d9;
    }

        .vertical-menu a:hover {
            /*background-color: gray;*/
            opacity: 0.5;
            color: #d9d9d9;
        }

        .vertical-menu a.active {
            /*background-color: #3d3e3c;
            color: #d9d9d9;*/
            background: navy;
            /*color: black;*/
            color: white;
        }

.footer {
    position: fixed;
    left: 0;
    /*bottom: 0;*/
    top:15%;
    width:85%;
    height: 200px;
    
}

.tr11 {
    /*background-color: #CCCC00;*/
    background-color: pink;
    color: navy;
    font-size: 18px;
}

td {
    /*background-color: #eff76f;*/
    background-color: papayawhip;
    color: #1f1f1e;
    text-align:center;
}
.btn:not(.btn-xs):not(.btn-sm):not(.btn-lg) {
    height: 37px;
    font-size: 16px;
}
/*background-color: #6666b2 !important;
color: white !important;
min-width: 200px;*/
.btn-my {
    background-image: linear-gradient(to bottom, #6666b2 0%, #743cef 100%);
    /*background-repeat: repeat-x;*/
    border-color: #3e8f3e;
    color:white;

}
dd {
    font-size: 19px;
}
dt {
    font-size: 16px;
    color: #808080;
    /*color: navy;*/
}

.sm-image {
    height: 65px;
    /*width:150px;*/
    margin-right: 60px;
}
/*.form-horizontal{
    color:navy;
}
.dl-horizontal{
    color:navy;
}*/

td, h3, h2, .dl-horizontal, .form-horizontal {

    color: navy;
}
table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 6px;
    overflow: hidden;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.leftpane {
    width: 50%;
    float: left;
    position: fixed;
}
th {
    text-align:center;
}
a{
    color:navy
}


