﻿* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}


body {
    background: white;
}

.nav {
    background: navy;
    text-align: center;
    padding: 10px 0px;
}

.main-menu > li {
    display: inline-block;
    padding: 10px 0px;
    margin-left: 10px;
    border-left: 1px solid white;
    width: 150px;
    color: white;
    font-size: 20px;
    transition: .4s;
}

.sub-menu {
        display: none;
    list-style-type: none;
    width: 300px;
    position: absolute;
    border-top: 25px solid transparent;
    /* border-right: 80px red; */
    /* margin-top: 30px; */
    padding-top: 5px;
    margin-left: -10px;
    text-align: left;
    box-shadow: 0px 1px 1px grey;
}

    .sub-menu:before {
        content: "";
        width: 0px;
        height: 0px;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 30px solid white;
        position: absolute;
        margin: -30px 0px 0px 60px;
    }

    .sub-menu > li {
        padding: 10px;
        color: white;
        text-align: right;
        background:navy;
        font-size: 20px;
    }

    .main-menu li:hover, .sub-menu li:hover {
        background: #6666b2;
        border:navy;
        /*color:navy;*/
    }

        .main-menu li:hover .sub-menu {
            display: block;
            z-index:5;
        }
        .sub-menu a{
            color:white;
        }
         .sub-menu a:hover{
             background-color:#6666b2;
            /*color:navy;*/
        }
        /*.sub-menu li:hover{
            color:brown;
        }*/
#divSearchResults{
    width:100%;
}

/*rivka added this*/
/*.drop
    {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .drop
    {
    background-color: #3e8e41;
}*/