﻿body {
    background-color: #fff;
    color: #2e2f33;
    font-family: 'Heebo', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.2;
}
.genesis-nav-menu li a:hover, .genesis-nav-menu li a:focus, .genesis-nav-menu .current-menu-item > a, .genesis-nav-menu > .menu-item.menu-item-has-children.hover > a {
    color: #ff6392;
}
.nav-primary ul.genesis-nav-menu {
    text-align: center;
}
.nsl-container > a {
    text-decoration: none !important;
    box-shadow: none !important;
    border: 0;
    box-shadow: none;
}

.nsl-container-block {
    max-width: 280px;
}

    .nsl-container-block > a {
        display: block;
        margin: 10px 0;
    }

.nsl-container-inline {
    margin: -5px;
    text-align: left;
}

    .nsl-container-inline > a {
        margin: 5px;
        display: inline-block;
    }

.nsl-container .nsl-button {
    cursor: pointer;
    vertical-align: top;
    border-radius: 4px;
}

.nsl-container .nsl-button-default {
    color: #fff;
    display: flex;
}

.nsl-container .nsl-button-icon {
    display: inline-block;
}

.nsl-container svg {
    height: 24px;
    width: 24px;
    vertical-align: top;
    margin: 8px;
    flex: 0 0 auto;
}

.nsl-container .nsl-button-default span {
    margin: 0 24px 0 12px;
    padding: 10px 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: .25px;
    overflow: hidden;
    text-align: center;
    text-overflow: clip;
    white-space: nowrap;
    flex: 1 1 auto;
    -webkit-font-smoothing: antialiased;
}
    /*-moz-osx-font-smoothing: grayscale;
}*/

.genesis-nav-menu > .menu-item.menu-item-has-children > a:after {
    content: "";
    background-image: url(./images/sprites.png);
    background-repeat: no-repeat;
    background-position: -171px -55px;
    width: 11px;
    height: 11px;
    display: inline-block;
    margin: 0 0 0 15px;
    border: 1px solid #1a1a1a;
    border-radius: 50%;
}
ul.genesis-nav-menu > li > a {
    color: #fff;
    display: block;
    /* margin: 0 75px; */
    line-height: 55px;
    font-size: 1.05rem;
}
a {
    background: transparent;
}
a {
    color: #ff6392;
    text-decoration: none;
    outline: none;
}