﻿.lg-image{
    width:100%;
    padding-right:5%;   
    padding-left:5%;
}

.sm-image {
    height: 70px;
    /*width:150px;*/
    margin-right: 60px;
}
.left{
    float:left;
}
.blue-button {
    background-color: #6666b2 !important;
    color: white !important;
    min-width: 200px;
}

.blue-button:hover {
        background-color: #6666b2 !important;
        color: white !important;
    }
.right{
    float:right;
}
	input[type="text"],
    input[type="number"],
	input[type="password"],
	input[type="e"],
	select,
	textarea {
		/*-moz-appearance: none;
		-webkit-appearance: none;
		-o-appearance: none;
		-ms-appearance: none;
		appearance: none;*/
		/*background: rgba(144, 144, 144, 0.075);*/
		/*border-radius: 4px;*/
		color: inherit;
		display: inline-block;
        width:auto;
        height:auto;
		outline: 0;
		text-decoration: none;
        margin:10px;
        direction:rtl;
        font-size:medium;
        color:black;
        font-family:Arial;
	}
    label{
        width:120px;
        font-size:small;
    }
    form{
        direction:rtl;
    }
    .brown{
        background-color:chocolate;
        color:white;
        min-width:200px;
    }
    /*.form-control {
  /*display: block;*/
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
*/ .form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    width: 140px;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eeeeee;
}

input{
    width:140px;
}
.big-margin{
    margin:50px;
}
.modal-content {
    height:1000px;
}
