﻿

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ManLayout.cshtml";

}
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/bootstrap.min.js"></script>
<h3 align="right">חדש</h3>
<div class="leftpane">
    <br /><br />
    <br />
    <img src="~/pictures/6.png" style="width:450px;height:300px" />
</div>
<div class="form-horizontal" align="right">
    @using (Html.BeginForm("Upload_files", "Manager_tblfiles", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <h3>צרף קבצים</h3>
        <br />
        <div class="form-group">
            <h4>ת.ז</h4>
            <input type="text" name="tzt" id="tzt" class="form-control" maxlength="9" required />
        </div>
        <h4 class="text-danger">@ViewBag.error3</h4>
        <h4>צילום ת.ז</h4>
        <input type="file" id="postedFiles" name="postedFiles" multiple="multiple" accept="application/msword,text/plain, application/pdf,image/*" required />
        <h4>  עיסוק האב -אישור מביטוח לאומי</h4>
        <input type="file" name="postedFiles1" multiple="multiple" accept="application/msword,text/plain, application/pdf,image/*" required />
        <h4>תלושי משכורת</h4>
        <input type="file" name="postedFiles2" multiple="multiple" accept="application/msword,text/plain, application/pdf,image/*" required />
        <br /><br />
        <div class="form-group">
            <div class="col-md-offset-2" align="right">
                <input type="submit" id="ishur" value="שמירה" class="btn btn-my" style="width:auto" />&nbsp;&nbsp;&nbsp;
                <input type="button" value="ביטול" class="btn btn-my" onclick="location.href='@Url.Action("Index")'" />
            </div>
        </div>
    }
</div>
<br />

<script type="text/javascript">
    //בדיקה ששדות הקלט תקינים
    $(document).ready(function () {
        $("#ishur").click(function () {
            var tz = $('#tzt').val(),
                intRegex = /[0-9]+$/;
            document.getElementById("tzt").setCustomValidity((!intRegex.test(tz)) || tz.length < 8 ? "מספר ת'ז לא תקין" : "");
        });

    });
</script>