﻿@model Project.Models.tblfiles

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_ManLayout.cshtml";
}


<h3 align="right">מחיקה</h3>
<div class="leftpane">
    <br /><br />
    <br />
    <img src="~/pictures/18-806x567.png" style="width:450px;height:300px" />
</div>
<div align="right">
    <br />
    <dl class="dl-horizontal" style="margin-left:70%">


        <dd>
            @Html.DisplayName("מסמך")
        </dd>

        <dt>
            @Html.DisplayFor(model => model.client.tz_client)
        </dt>
        <dd>
            @Html.DisplayName("תז רשום")
        </dd>

        <dt>
            @Html.DisplayFor(model => model.client.nameclient)
        </dt>
        <dd>
            @Html.DisplayName("שם רשום")
        </dd>
        <dt>
            @Html.DisplayFor(model => model.namef)
        </dt>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <br /><br />
        <div class="form-actions no-color" style="margin-left:50%">
            <div class="col-md-offset-2">
                <input type="submit" value="מחיקה" class="btn btn-my" />&nbsp;&nbsp;&nbsp;
                <input type="button" value="ביטול" class="btn btn-my" onclick="location.href='@Url.Action("Index")'" />
            </div>
        </div>
    }
</div>
