﻿@model Project.Models.tblfiles

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_ManLayout.cshtml";
}

<h3 align="right">עדכון</h3>

<div class="leftpane">
    <br /><br />
    <br />

    <img src="~/pictures/9.png" style="width:450px;height:300px" />
</div>

<div align="right">
    <hr />
    <dl class="dl-horizontal" style="margin-left:70%">



        <dt>
            @Html.DisplayFor(model => model.client.tz_client)
        </dt>
        <dd>
            @Html.DisplayName("תז רשום")
        </dd>
        <dt>
            @Html.DisplayFor(model => model.client.nameclient)
        </dt>
        <dd>
            @Html.DisplayName("שם רשום")
        </dd>
        <dt>
            @Html.DisplayFor(model => model.namef)
        </dt>

        <dd>
            @Html.DisplayName("מסמך")
        </dd>

    </dl>

    @using (Html.BeginForm("Edit", "Manager_tblfiles", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <br />
        <h4>צרף קובץ חדש</h4>
        <input type="file" name="postedFiles" accept="application/msword,text/plain, application/pdf,image/*" required />
        <h4 class="text-danger">@ViewBag.error3</h4>
        <br /><br />
        <div class="form-group" style="margin-left:50%">
            <div class="col-md-offset-2 ">
                <input type="submit" value="שמירה" class="btn btn-my" />&nbsp;&nbsp;&nbsp;
                <input type="button" value="ביטול" class="btn btn-my" onclick="location.href='@Url.Action("Index")'" />
            </div>
        </div>
    }
</div>
<br />


