﻿
@model IEnumerable<Project.Models.tblfiles>
@{
    Layout = "~/Views/Shared/_ManLayout.cshtml";
}

<script src="~/scripts/jquery-1.7.1.min.js"></script>
<script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>




 
<div id="divSearchResults">
    <h2 style="margin-left:8%">מסמכים</h2>
    <h3 style="margin-left:75%">
        @Html.ActionLink("חדש", "Create")
    </h3>
    @using (Html.BeginForm("DownloadFile", "Manager_tblfiles", FormMethod.Post))
    {
        <input type="hidden" id="hfFileId" name="FileId" />
        <input type="submit" id="btnDownload" value="Download" style="display:none" />
    }
    <div style="margin-right:10%">
        @using (Ajax.BeginForm("Search", "Manager_tblfiles", new AjaxOptions()
        {
            HttpMethod = "post",
            UpdateTargetId = "divSearchResults",
            InsertionMode = InsertionMode.Replace
        }))
        {
            <div align="right">
                <button type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
                <input type="text" class="btn btn-default searchTxt" name="searchTxt" placeholder="חיפוש לפי שם / ת.ז" />

            </div>
        }
        </div>
        <h4 class="text-danger" align="right">@ViewBag.error9</h4>
        @if (Model != null)
        {

            <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
            <script type="text/javascript">
                function DownloadFile(fileId) {
                    $("#hfFileId").val(fileId);
                    $("#btnDownload")[0].click();
                };
            </script>
            <br />
            <table cellpadding="0" cellspacing="0" class="table" style="text-align:left;width:80%">
                <tr class="tr11">
                    <th></th>
                    <th>Download</th>
                    <th>קובץ</th>
                    <th style="width:50px">שם רשום</th>
                    <th>תז רשום</th>
                </tr>
                @if (Model.Count() > 0)
                {
                    foreach (var file in Model)
                    {
                        <tr class="tr22">
                            <td>
                                @Html.ActionLink("עדכון", "Edit", new { id = file.id }) |
                                @Html.ActionLink("מחיקה", "Delete", new { id = file.id })
                            </td>
                            <td><a href="javascript:;" onclick="DownloadFile(@file.id)">Download</a></td>@*הורדת קובץ*@
                            <td>@file.namef</td>
                            <td>@file.client.nameclient</td>
                            <td>@file.client.tz_client</td>


                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="3">&nbsp;</td>
                    </tr>
                }
            </table>
        }

    </div>
