﻿@model Project.Models.item_in_sale

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_ManLayout.cshtml";
}

<h3 align="right">חדש</h3>
<div class="leftpane">
    <br /><br />
    <br />
    <img src="~/pictures/6.png" style="width:450px;height:300px" />
</div>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal" align="right">

    <br />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.DisplayName("מוצר")
        <br /><br />
        <div class="col-md-13">
            @Html.DropDownList("iditems", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.iditems, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.DisplayName("מכירה")
        <br /><br />
        <div class="col-md-13">
            @Html.DropDownList("iditem_itemsale", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.iditem_itemsale, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.DisplayName("עיר")
        <br /><br />
        <div class="col-md-13">
            @Html.DropDownList("itsale_itemsale", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.itsale_itemsale, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.DisplayName("שכונה")
        <br /><br />
        <div class="col-md-13">
            @Html.DropDownList("idneighborhood_sale", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.itsale_itemsale, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2" align="right">
            <input type="submit" value="המשך" class="btn btn-my" />&nbsp;&nbsp;&nbsp;
            <input type="button" value="ביטול" class="btn btn-my" onclick="location.href='@Url.Action("Index")'" />
        </div>
    </div>
</div>
}
