﻿@model IEnumerable<Project.Models.size>

@{
    ViewBag.Title = "details";
    Layout = "~/Views/Shared/_ManLayout.cshtml";
}
<h3 align="right">פרטים נוספים</h3>
<div class="leftpane">
    <br /><br />
    <br />
    <img src="~/pictures/8-1-806x567.png" style="width:450px;height:300px" />
</div>
<div align="right">
    <br />
    <dl class="dl-horizontal" style="margin-left:75%">

        @foreach (var item in Model)
        {


            <dt>
                @Html.DisplayFor(model => item.item_in_sale.item.name_item)
            </dt>

            <dd>
                @Html.DisplayName("מוצר")
            </dd>

            <dt>
                @Html.DisplayFor(model => item.item_in_sale.item.price_item)
            </dt>


            <dd>
                @Html.DisplayName("מחיר")
            </dd>
            <dt>
                @Html.DisplayFor(model => item.item_in_sale.item.color_item)
            </dt>

            <dd>
                @Html.DisplayName("צבע")
            </dd>

            <dt>
                @Html.DisplayFor(model => item.item_in_sale.item.limitedamount_item)
            </dt>

            <dd>
                @Html.DisplayName("כמות מוגבלת")
            </dd>


            <dt>
                @Html.DisplayFor(model => item.item_in_sale.item.type_item.name_type)
            </dt>
            <dd>
                @Html.DisplayName("סוג")
            </dd>


            <dt>
                @Html.DisplayFor(model => item.item_in_sale.item.category_item.name_category)
            </dt>
            <dd>
                @Html.DisplayName("קטגוריה")
            </dd>
            break;
        }

        @foreach (var item in Model)
        {
            <dt>
                @Html.DisplayFor(model => item.n_size)
            </dt>

            <dd>
                @Html.DisplayName("מידה")
            </dd>
            <dt>
                @Html.DisplayFor(model => item.amount)
            </dt>

            <dd>
                @Html.DisplayName("כמות")
            </dd>
        }


        <dd>
            @Html.DisplayName("תמונה")
        </dd>
    </dl>
    @foreach (var item in Model)
    {
        <img src="@Html.DisplayFor(model => item.item_in_sale.item.picture_item)" style="height:150px;display:inline-block;" />
        break;
    }
    <br /><br />
    <div>
        <input type="button" value="חזרה" class="btn btn-my" onclick="location.href='@Url.Action("Index")'" />
    </div>
</div>

