﻿@model Project.Models.item_in_sale

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_ManLayout.cshtml";
}

<h3 align="right">עדכון</h3>
<div class="leftpane">
    <br /><br />
    <br />

    <img src="~/pictures/9.png" style="width:450px;height:300px" />
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" align="right">

        <br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id_itemsale)
        <div class="form-group">
            @Html.DisplayName("מוצר")
            <div class="col-md-10">
                @Html.DropDownList("iditems", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.iditems, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.DisplayName("מכירה")
            <div class="col-md-10">
                @Html.DropDownList("iditem_itemsale", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.iditem_itemsale, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.DisplayName("עיר")
            <div class="col-md-10">
                @Html.DropDownList("itsale_itemsale", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.itsale_itemsale, "", new { @class = "text-danger" })
            </div>
        </div>

    </div>
    <div class="form-group" style="margin-left:50%">
        <div class="col-md-offset-2 ">
            <input type="submit" value="שמירה" class="btn btn-my" />&nbsp;&nbsp;&nbsp;
            <input type="button" value="ביטול" class="btn btn-my" onclick="location.href='@Url.Action("Index")'" />
        </div>
    </div>
}


