﻿@model IEnumerable<Project.Models.item_in_sale>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ManLayout.cshtml";
}

<h2 style="margin-left:8%">מוצרים במכירה</h2>

<h3 style="margin-left:96%">
    @Html.ActionLink("חדש", "Create")
</h3>
@using (Ajax.BeginForm("Search", "Manager_item_in_sale", new AjaxOptions()
{
    HttpMethod = "post",
    UpdateTargetId = "divSearchResults",
    InsertionMode = InsertionMode.Replace
}))
{
    <div align="right">
        <button type="submit" class="btn btn-default">
            <span class="glyphicon glyphicon-search"></span>
        </button>
        <input type="text" class="btn btn-default searchTxt" name="searchTxt" placeholder="חיפוש לפי מוצר /מכירה/ עיר" />

    </div>
}

    <div id="divSearchResults">
        <br />
        <table class="table" style="text-align:left;">
            <tr class="tr11">
                <th></th>
                <th>
                    @Html.DisplayName("כתובת")
                </th>
                <th>
                    @Html.DisplayName("עיר")
                </th>
                <th>
                    @Html.DisplayName("מכירה")
                </th>

                <th>
                    @Html.DisplayName("מוצר")
                </th>
                <th>
                    @Html.DisplayName("קוד מוצר")
                </th>

            </tr>

            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.ActionLink("עדכון", "Edit", new { id = item.id_itemsale }) |
                        @Html.ActionLink("פרטים", "Details", new { id = item.id_itemsale }) |
                        @Html.ActionLink("מחיקה", "Delete", new { id = item.id_itemsale })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.sale.addressSale)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.city.name_city)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.sale.name_sale)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.item.name_item)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.item.id_item)
                    </td>


                </tr>
            }

        </table>
    </div>
