﻿@model IEnumerable<Project.Models.item>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name_item)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.picture_item)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sizeinstock_item)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price_item)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.color_item)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.limitedamount_item)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.type_item.name_type)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name_item)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.picture_item)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sizeinstock_item)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price_item)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.color_item)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.limitedamount_item)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.type_item.name_type)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_item }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_item }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_item })
        </td>
    </tr>
}

</table>
