﻿@model Project.Models.modelOfItemAndCategory
@{
    Layout = "~/Views/Shared/_ManagerShopingLayout.cshtml";
    ViewBag.Title = "andShop";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/scripts/jquery-1.7.1.min.js"></script>
<script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/modernizr-2.6.2.js"></script>
<script src="~/scripts/bootstrap.min.js"></script>


<link href="~/Content/stylesheet_rivka.css" rel="stylesheet" />
<link href="~/Content/w3.css" rel="stylesheet" />
<div id="divSearchResults">
    <h2>סיום הזמנה</h2>
    <h4 class="text-danger">@ViewBag.error1</h4>
    <br />
    <h4 class="text-danger">@ViewBag.error2</h4>

    <h1 class="text-success">@ViewBag.success</h1>
    <h4>
        @Html.ActionLink("הורד הזמנה", "DownloadPDF", "Manager_clients", new { id = -1 }, FormMethod.Post)
    </h4><br />
    </div>