﻿@model IEnumerable<Project.Models.client>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ManLayout.cshtml";
}

<h2 style="margin-left:8%">רשומים</h2>

<h3 style="margin-left:96%">
    @Html.ActionLink("חדש", "Create")
</h3>

@using (Ajax.BeginForm("Search", "Manager_clients", new AjaxOptions()
{
    HttpMethod = "post",
    UpdateTargetId = "divSearchResults",
    InsertionMode = InsertionMode.Replace
}))
{
<div  align="right">
    <button type="submit" class="btn btn-default">
        <span class="glyphicon glyphicon-search"></span>
    </button>
    <input type="text" class="btn btn-default searchTxt" name="searchTxt" placeholder="חיפוש לפי שם / ת.ז" />
  
</div>
}

<div id="divSearchResults">
    <br />
    <table class="table" style="text-align:left;">
        <tr class="tr11">

            <th></th>

            <th>
                @Html.DisplayName("כתובת מייל")
            </th>
            <th>
                @Html.DisplayName("טלפון")
            </th>
            <th>
                @Html.DisplayName("שכונה")
            </th>
            <th>
                @Html.DisplayName("עיר")
            </th>
            <th>
                @Html.DisplayName("כתובת")
            </th>
            <th>
                @Html.DisplayName("שם")
            </th>
            <th>
                @Html.DisplayName("תעודת זהות")
            </th>
            <th>
                @Html.DisplayName("סוג משתמש")
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink("עדכון", "Edit", new { id = item.id_client }) |
                    @Html.ActionLink("פרטים", "Details", new { id = item.id_client }) |
                    @Html.ActionLink("מחיקה", "Delete", new { id = item.id_client })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email_client)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.phone_client)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.neighborhood.name_neighborhood)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.city.name_city)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.address_client)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nameclient)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tz_client)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.users.name_user)
                </td>




            </tr>
        }

    </table>
 
</div>
