﻿
@model IEnumerable<Project.Models.client>
@{
    Layout = "~/Views/Shared/_ManLayout.cshtml";
}

<script src="~/scripts/jquery-1.7.1.min.js"></script>
<script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>




 
<div id="divSearchResults">
    <h2 style="margin-left:8%">רשומים</h2>

    <h3 style="margin-left:96%">
        @Html.ActionLink("חדש", "Create")
    </h3>
    <div style="margin-right:10%">
        @using (Ajax.BeginForm("Search", "Manager_clients", new AjaxOptions()
        {
            HttpMethod = "post",
            UpdateTargetId = "divSearchResults",
            InsertionMode = InsertionMode.Replace
        }))
        {
            <div align="right">
                <button type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
                <input type="text" class="btn btn-default" name="searchTxt" placeholder="חיפוש לפי שם / ת.ז" />

            </div>
        }
        </div>
        <h4 class="text-danger" align="right">@ViewBag.error9</h4>
        @if (Model != null)
        {
            <table class="table" style="text-align:left;">
                <tr class="tr11">

                    <th></th>

                    <th>
                        @Html.DisplayName("ממוצע משכורות")
                    </th>

                    <th>
                        @Html.DisplayName("עיסוק האב")
                    </th>
                    <th>
                        @Html.DisplayName("כתובת מייל")
                    </th>
                    <th>
                        @Html.DisplayName("טלפון")
                    </th>
                    <th>
                        @Html.DisplayName("שכונה")
                    </th>
                    <th>
                        @Html.DisplayName("עיר")
                    </th>
                    <th>
                        @Html.DisplayName("כתובת")
                    </th>
                    <th>
                        @Html.DisplayName("שם")
                    </th>
                    <th>
                        @Html.DisplayName("תז")
                    </th>
                    <th>
                        @Html.DisplayName("סוג משתמש")
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.ActionLink("עדכון", "Edit", new { id = item.id_client }) |
                            @Html.ActionLink("פרטים", "Details", new { id = item.id_client }) |
                            @Html.ActionLink("מחיקה", "Delete", new { id = item.id_client })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.avgsalary_client)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.fatherjob_client)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.email_client)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.phone_client)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.idneighborhood_client)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.idcity_client)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.address_client)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.nameclient)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.tz_client)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.iduser_client)
                        </td>




                    </tr>
                }

            </table>}
    </div>
