﻿<?php?>
@{
    ViewBag.Title = "Index";
}

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title right">החשבון שלי</h4>
            </div>
            <h4 class="text-danger" style="text-align:center">@ViewBag.error1</h4>

            <form method="post" action="@Url.Action("login")" class="w3-center">

                <div class="modal-body">
                    <div class="form-group">
                        <label>שם:</label>
                        <input type="text" name="nameC" id="nameC" class="form-control" required />
                        <br />
                    </div>
                    <div class="form-group">
                        <label>.ת.ז:</label>
                        <input type="text" name="tzC" id="tzC" class="form-control" maxlength="9" required />
                        <br />
                    </div>
                    <div class="form-group">
                        <label>סיסמה:</label>
                        <input type="password" name="passwordC" id="passwordC" class="form-control" required />
                    </div>
                </div>
                    <div class="modal-footer" style="text-align:center">
                        <input type="submit" style="width:200px" id="ishur" class="w3-button blue-button btn-block" formaction="@Url.Action("login")" value="אישור" />
                    </div>

                    <div>
                        @Html.ActionLink("משתמש חדש", "newUser")
                        @Html.ActionLink("איפוס סיסמה", "password")
                    </div>
</form>
        </div>
    </div>
</div> 


<script type="text/javascript">
    //הגדרות החלון
    $(window).on('load', function () {
        setTimeout(
            function () {
                $('#myModal').modal('show');
            }, 2000);

    });
    $('#myModal').modal({
        backdrop: 'static',
        keyboard: false
    })
    //בדיקה ששדות הקלט תקינים
    $(document).ready(function () {
       
        $("#ishur").click(function () {
             var tz = $('#tzC').val(), pas = $('#passwordC').val() ,
                intRegex = /[0-9]+$/;        
            document.getElementById("tzC").setCustomValidity((!intRegex.test(tz)) || tz.length < 8 ? "מספר ת'ז לא תקין" : "");
            document.getElementById("passwordC").setCustomValidity(pas.length < 6 ? "סיסמה צריכה להכיל 6 תווים לפחות" : "");
        });
    
    });
</script>