﻿<?php?>
@{
    ViewBag.Title = "Index";
}



<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title right">חשבון חדש</h4>
            </div>
            <h4 class="text-danger" style="text-align:center">@ViewBag.error1</h4>
            <form method="get" action="@Url.Action("createNewUser")" class="w3-center">

                <div class="modal-body">
                    <div class="form-group">
                        <label>שם:</label>
                        <input type="text" class="form-control" name="nameC" id="nameC" required/>
                        <br />
                    </div>
                    <div class="form-group">
                        <label> .ת.ז:</label>
                        <input type="text" class="form-control" name="tzC" id="tzC" required/>
                        <br />
                    </div>
                    <div class="form-group">
                        <label>סיסמה:</label>
                        <input type="password" class="form-control" name="passwordC" id="passwordC" required/>
                        <br />
                    </div>
                    </div>
                    <div class="modal-footer" style="text-align:center">
                        <input type="submit" style="width:200px" id="ishur" class="w3-button blue-button btn-block" formaction="@Url.Action("createNewUser")" value="אישור" />
                    </div>
</form>
        </div>

    </div>
</div>


<script type="text/javascript">
     //הגדרות החלון
    $(window).on('load', function () {
        setTimeout(
            function () {
                $('#myModal').modal('show');
            }, 2000);

    });
    $('#myModal').modal({
        backdrop: 'static',
        keyboard: false
    })
    //בדיקה ששדות הקלט תקינים
    $(document).ready(function () {

        $("#ishur").click(function () {
            var tz = $('#tzC').val(), pas = $('#passwordC').val(),
                intRegex = /[0-9]+$/; 
                document.getElementById("tzC").setCustomValidity((!intRegex.test(tz)) || tz.length < 8 ? "מספר ת'ז לא תקין" : "");
                document.getElementById("passwordC").setCustomValidity(pas.length < 6 ? "סיסמה צריכה להכיל 6 תווים לפחות" : "");
        });

    });
</script>
