﻿
@{
    ViewBag.Title = "password";
}

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title right">איפוס סיסמה</h4>
            </div>
            <form method="get" action="@Url.Action("createPassword")" class="w3-center">
                <h4 class="text-danger" style="text-align:center">@ViewBag.error1</h4>
                <div class="modal-body">
                    <div class="form-group">
                        <label>מייל:</label>
                        <input type="email" name="emailadress" class="form-control" id="email" required />
                        <br />
                    </div>
                    <div class="form-group">
                        <label> סיסמה:</label>
                        <input type="password" name="password" class="form-control" id="passwordC" required />
                        <br />
                    </div>
                    <div class="form-group">
                        <label>אימות סיסמה:</label>
                        <input type="password"  name="passwordC" class="form-control" id="passwordC1" required />
                        <br />
                    </div>
                    </div>
                    <div class="modal-footer" style="text-align:center">
                        <input type="submit" style="width:200px" id="ishur" class="w3-button blue-button btn-block" formaction="@Url.Action("createPassword")" value="אישור" />
                    </div>
</form>
            <h4> @ViewBag.message</h4><br />
            <a href="@ViewBag.link">@ViewBag.click</a>
        </div>

    </div>
</div>


<script type="text/javascript">
     //הגדרות החלון
    $(window).on('load', function () {
        setTimeout(
            function () {
                $('#myModal').modal('show');
            }, 2000);

    });
    $('#myModal').modal({
        backdrop: 'static',
        keyboard: false
    })
    //בדיקה ששדות הקלט תקינים
    $(document).ready(function () {
        $("#ishur").click(function () {
            var email = $('#email').val(),
                emailReg = "/^([w-.]+@("[w-]+.")+[w-]{2,4})?$/";
            var pas = $('#passwordC').val(), pas1 = $('#passwordC1').val();

                document.getElementById("passwordC").setCustomValidity(pas.length < 6 ? "סיסמה צריכה להכיל 6 תווים לפחות" : "");
                document.getElementById("passwordC1").setCustomValidity(pas != pas1 ? "אימות סיסמה נכשל" : "");
        });

    });
</script>
