﻿@model Project.Models.tblfiles

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title right">  !@ViewBag.name  שלום</h4>
            </div>
            <div class="modal-body">
                <br />
                <hidden></hidden>

                <h5 style="font-weight:bold" align="right">@Html.DisplayName(" :מסמך")</h5>
                <div align="right">@Html.DisplayFor(model => model.namef) </div>

                </div>


    </div>
  </div>
</div>

<script src="~/Scripts/bootstrap.min.js"></script>
<script type="text/javascript">

    $(window).on('load', function () {
        setTimeout(
            function () {
                $('#myModal').modal('show');
            }, 2000);

    });
    $('#myModal').modal({
        backdrop: 'static',
        keyboard: false
    })
</script>

<style>
  
    .MakeWide {
        width: 250px;
    }
    .blue-buttonE {
        background-color: #6666b2 !important;
        color: white !important;
        min-width: 50px;
    }
    .modal-content {

        min-height: 100px;
        height: auto;
        margin: 80px auto 0px auto;
    }

    .tr11 {
        background-color: #b8a5e4;
        color: navy;
        font-size: 18px;
    }

    td {
        background-color: #f0d7fc;
        text-align: center;
    }

    td, h3, h2, .dl-horizontal, .form-horizontal {
        color: navy;
    }

    .table {
        border-spacing: 1;
        border-collapse: collapse;
        background: white;
        border-radius: 6px;
        overflow: hidden;
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
        position: relative;
    }

    .leftpane {
        width: 50%;
        float: left;
        position: fixed;
    }

    th {
        text-align: center;
    }

    a {
        color: navy
    }
</style>