﻿@using Project.Models
@model CustomerClientVM
@{
    ViewBag.Title = "CreateDetails";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
@*<script src="~/scripts/jquery-1.7.1.min.js"></script>
<script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>*@
<body>
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog" >

            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title right">  !@ViewBag.name  שלום</h4>
                </div>
                <br />
                <br />
                @using (Html.BeginForm("Create", "Customer_children", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                <div class="form-horizontal" align="center">
                    @for (int i = 0; i < Model.listChlidren.Count; i++)
                    {
                        <h1>@ViewBag.id</h1>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        @Html.HiddenFor(model => model.listChlidren[i].id_child)
                        @Html.HiddenFor(model => model.listChlidren[i].idclient_child)
                        <div class="form-group">
                            <div  style="margin:auto">
                                <label> @Html.DisplayName(" הכנס/י תאריך לידה ")</label>
                                <div class="col-md-8" style="margin:auto">
                                    @Html.EditorFor(model => model.listChlidren[i].birthdate_child, new { htmlAttributes = new { @class = "form-control MakeWide s" } })
                                    @Html.ValidationMessageFor(model => model.listChlidren[i].birthdate_child, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            </div>
                        <div class="form-group">
                            <div style="margin:auto">
                                <label> @Html.DisplayName(" הכנס/י מין ")</label>
                                <div class="col-md-8" style="margin:auto">
                                    @Html.DropDownListFor(model => model.listChlidren[i].m_f_child,
                                            new SelectList(Enum.GetValues(typeof(Gender))),"זכר", new { @class = "form-control MakeWide s" })
                                </div>
                            </div>
                        </div>
                    }
                    <div class="modal-footer" style="text-align:center">
                        <input type="submit" value="המשך" class="w3-button blue-button" />
                    </div>
                </div>

                }


            </div>
                    </div>
    </div>
</body>
<script type="text/javascript">

    $(window).on('load', function () {
        setTimeout(
            function () {
                $('#myModal').modal('show');
            }, 2000);

    });
    $('#myModal').modal({
        backdrop: 'static',
        keyboard: false
    })

</script>
<style>
    .MakeWide {
        width: 250px;
    }

    .modal-content {
        min-height: 100px;
        height: auto;
        margin: 80px auto 0px auto;
    }
    .s {
        width: 220px;
    }

</style>
