﻿@using Project.Models
@model CustomerClientVM
@{
    ViewBag.Title = "CreateDetails";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<body>
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog" >

            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title right">  !@ViewBag.name  שלום</h4>
                </div>
                <br />
                <br />
                <h4 class="text-danger" style="text-align:right">@ViewBag.error</h4>
                @using (Html.BeginForm("Create", "Customer_children", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal" align="center">
                        @for (int i = 0; i < Model.listChlidren.Count; i++)
                        {


                            <h1>@ViewBag.id</h1>
                            @*<hr />*@
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            @Html.HiddenFor(model => model.listChlidren[i].id_child)
                            @Html.HiddenFor(model => model.listChlidren[i].idclient_child)
                            <div class="form-group">
                                <div class="col-md-10">
                                    <label> @Html.DisplayName(" הכנס/י תאריך לידה ")</label>
                                    @Html.EditorFor(model => model.listChlidren[i].birthdate_child, new { htmlAttributes = new { @class = "form-control MakeWide" } })
                                    @Html.ValidationMessageFor(model => model.listChlidren[i].birthdate_child, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-8">
                                    <label> @Html.DisplayName(" הכנס/י מין ")</label>
                                    @Html.DropDownListFor(model => model.listChlidren[i].m_f_child,
                                            new SelectList(Enum.GetValues(typeof(Gender))),
                                            "זכר", new { @class = "form-control MakeWide" })


                                </div>
                            </div>

                        }
                        <div class="modal-footer" style="text-align:center">
                            <input type="submit" value="המשך" class="w3-button blue-button" />
                        </div>
                    </div>

                }


            </div>

                    </div>
    </div>
</body>
<script type="text/javascript">

    $(window).on('load', function () {
        setTimeout(
            function () {
                $('#myModal').modal('show');
            }, 2000);

    });
    $('#myModal').modal({
        backdrop: 'static',
        keyboard: false
    })

</script>
<style>
    .MakeWide {
        width: 250px;
    }
    .modal-content {
        min-height: 100px;
        height: auto;
        margin: 80px auto 0px auto;     
    }
</style>
