﻿@model Project.Models.sale

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_ManLayout.cshtml";
}

<h3 align="right">חדש</h3>
<div class="leftpane">
    <br /><br />
    <br />
    <img src="~/pictures/6.png" style="width:450px;height:300px" />
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal" align="right">

    <br />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.DisplayName("שם מכירה")
        <br /><br />
        <div class="col-md-13">
            @Html.EditorFor(model => model.name_sale, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.name_sale, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.DisplayName("עיר")
        <br /><br />
        <div class="col-md-13">
            @Html.DropDownList("idcity_sale", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.idcity_sale, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.DisplayName("שכונה")
        <br /><br />
        <div class="col-md-13">
            @Html.DropDownList("idneighborhood_sale", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.idneighborhood_sale, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.DisplayName("כתובת")
        <br /><br />
        <div class="col-md-13">
            @Html.EditorFor(model => model.addressSale, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.addressSale, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.DisplayName("תאריך התחלה")
        <br /><br />
        <div class="col-md-13">
            @Html.EditorFor(model => model.fod_sale, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fod_sale, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.DisplayName("תאריך סיום")
        <br /><br />
        <div class="col-md-13">
            @Html.EditorFor(model => model.lod_sale, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.lod_sale, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
    <div class="form-group">
        <div class="col-md-offset-2" align="right">
            <input type="submit" value="שמירה" class="btn btn-my" />&nbsp;&nbsp;&nbsp;
            <input type="button" value="ביטול" class="btn btn-my" onclick="location.href='@Url.Action("Index")'" />
        </div>
    </div>

}


