﻿
@model IEnumerable<Project.Models.sale>
@{
    Layout = "~/Views/Shared/_ManLayout.cshtml";
}

<script src="~/scripts/jquery-1.7.1.min.js"></script>
<script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>


<div id="divSearchResults" style="width:100%">
    <h2 style="margin-left:8%">מכירות</h2>

    <h3 style="margin-left:75%">
        @Html.ActionLink("חדש", "Create")
    </h3>

    <div style="margin-right:10%">
        @using (Ajax.BeginForm("Search", "Manager_sales", new AjaxOptions()
        {
            HttpMethod = "post",
            UpdateTargetId = "divSearchResults",
            InsertionMode = InsertionMode.Replace
        }))
        {
            <div align="right">
                <button type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
                <input type="text" class="btn btn-default searchTxt" name="searchTxt" placeholder="חיפוש לפי מוצר /מכירה/ עיר" />

            </div>
        }
    </div>
    <h4 class="text-danger" align="right">@ViewBag.error9</h4>
    @if (Model != null)
    {
        <br />
        <table class="table" style="text-align:left;width:80%">
            <tr class="tr11">
                <th></th>
                <th>
                    @Html.DisplayName("כתובת")
                </th>
                <th>
                    @Html.DisplayName("שכונה")
                </th>
                <th>
                    @Html.DisplayName("עיר")
                </th>
                <th>
                    @Html.DisplayName("תאריך מכירה")
                </th>
                <th>
                    @Html.DisplayName("תאריך אחרון")
                </th>
                <th>
                    @Html.DisplayName("תאריך סיום")
                </th>
                <th>
                    @Html.DisplayName("שם מכירה")
                </th>
            </tr>

            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.ActionLink("עדכון", "Edit", new { id = item.id_sale }) |
                    @Html.ActionLink("מחיקה", "Delete", new { id = item.id_sale })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.addressSale)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.neighborhood.name_neighborhood)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.city.name_city)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date_sale)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lod_sale)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fod_sale)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name_sale)
                </td>





            </tr>
            }

        </table>}
</div>
